.popover-no-padding .ant-popover-inner-content {
  padding: 0;
}
.popover-no-padding {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  border-radius: 6px;
}
.popover-filter-bar {
  top: 8px!important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  border-radius: 6px;
  .ant-popover-arrow {
    display: none;
  }
}

.sort-menu,
.filter-menu {
  width: 228px;
  list-style: none;
  position: relative;
  padding: 0;
  li:not(.container-icon) {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid @color-breeze;
    &:hover, &.active {
      background-color: @color-breeze-50;
    }
  }
  .container-icon {
    height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    span {
      display: flex;
      font-size: 12px;
      width: 100%;
      padding: 0 8px;
    }
  }
}

.app-more-menu {
  list-style: none;
  width: 148px;
  padding: 8px 0;
  .hr {
    margin: 8px 0;
    height: 1px;
    width: 100%;
    background-color: @color-breeze-new;
  }
  li:not(.hr) {
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    a {
      display: flex;
    }
    .nstIcon {
      margin: 0 8px;
      height: 16px;
      max-height: 16px;
    }
    span {
      display: flex;
      line-height: 16px;
      font-size: 12px;
    }
  }
  .suspend-item {
    svg path {
      fill: @color-shine-wire;
    }
    span {
      color: @color-shine-wire;
    }
  }
  .publish-item {
    svg path {
      fill: #2FB492;
    }
    span {
      color: #2FB492;
    }
  }
  .decline-item {
    svg path {
      fill: #EE3759;
    }
    span {
      color: #EE3759;
    }
  }
}