.popover-no-padding .ant-popover-inner-content {
    padding: 0;
}

.sort-menu ,
.filter-menu {
    width: 210px;
    list-style: none;
    li {
        height: 48px;
        padding: 0 8px;
        display: flex;
        align-items: center;
        margin: 4px 0;
        background-color: @color-sense-5;
        &:hover {
            background-color: @color-sense-50;
        }
    }
}