.s24 {
  width : 24px;
  display: inline-block;
  height : 24px;
}
.s32 {
  width : 32px;
  display: inline-block;
  height : 32px;
  position: relative;
}
.s24 svg{
  width : 24px;
  height : 24px;
}
.s16 {
  width : 16px;
  display: inline-block;
  height : 16px;
  flex: none;
}
.s8 {
  width : 8px;
  display: inline-block;
  height : 8px;
}
.s40 {
  width : 40px;
  display: inline-block;
  height : 40px;
}
.nstIcon {
  display: flex;
}