.sidebar {
  position: fixed;
  width: 100%;
  background-color: #232629;
  flex-direction: column;
  height: 100vh;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  touch-action: auto;
}
.scrollContainer {
  height: calc(100% - 56px);
}
.sidebar .itemContainer {
  /* height: 100%; */
  width: 100%;
  /* overflow: auto; */
  /* -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain; */
  margin-bottom: 120px;
}
.sidebarHead {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.sidebar h3 {
  color: rgba(255, 255, 255, .4);
}
.sidebarActions {
  list-style: none;
}
.sidebarActions li{
  height: 48px;
  padding: 0 16px;
  opacity: .4;
  align-items: center;
  display: flex;
}
.sidebarActions li svg{
  fill: white;
}
.sidebarActions li a{
  align-items: center;
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
}
.sidebarActions i{
  margin-right: 16px;
  margin-bottom: 4px;
}
.hrDark {
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.16);
  margin: 8px 0 0 0;
  border: none;
}
.hrLight {
  height: 1px;
  width: 100%;
  background-color: rgba(255,255,255,.04);
  margin: 0 0 8px 0;
  border: none;
}
.filter {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  opacity: .4;
  display: flex;
  align-items: center;
}
.filter svg{
  fill: white;
}
.filter span{
  color: white;
}
.indent {
  display: flex;
  width: 16px;
  height: 100%;
  flex: none;
}