
html[dir="rtl"] {
    .navbar a:last-of-type {
        margin-right: 5px;
        margin-left: 20px;
    }
    .app-content {
        .product-hero {
            margin-right: 0;
            margin-left: 24px;
            .categories a {
                margin: 0 0 6px 6px;
            }
        }
    }
    .jumbotron {
        .content {
            .featureds {
                > a {
                    &:first-child {
                    margin-right: 0;
                    margin-left: 16px;
                    }
                    &:last-child {
                    margin-left: 0;
                    margin-right: 16px;
                    }
                }
            }
        }
    }
    .sidebar {
        margin-right: 0;
        margin-left: 32px;
    }
    .search-box {
      > i {
        left: auto;
        right: 4px;
      }
    }
    .suggester {
        .suggester__indicators {
            right: auto;
            left: 0;
        }
    }
    .lng-en {
        opacity: .64;
    }
    .lng-fa {
        opacity: 1;
    }
    .tabs-content {
        .reviews li {
            .rev-logo {
                padding-right: 0;
                padding-left: 16px;
            }
            .rev-info .rating {
                margin: 0 8px 0 0;
            }
        }
        .permissions li {
            .per-icon {
                padding: 3px 0 0 16px;
            }
            .per-info {
                border-left: none;
                padding-left: 0;
                padding-right: 6px;
                border-right: 1px solid rgba(50, 61, 71, 0.32);
            }
        }
    }
    .logo-type {
      display: none;
    }
    .logo-type.fa {
      display: unset;
    }
    .app-content .product-hero .languages a {
        background-position: right center;
        padding: 5px 30px 5px 6px;
    }
}