
html[dir="rtl"] {
    .app-content {
        .product-hero {
            margin-right: 0;
            margin-left: 24px;
        }
    }
    .search-box {
      > i {
        left: auto;
        right: 4px;
      }
    }
    .suggester {
        .suggester__indicators {
            right: auto;
            left: 0;
        }
    }
    .lng-en {
        opacity: .64;
    }
    .lng-fa {
        opacity: 1;
    }
}