@import "../styles/fonts/fonts.less";
@import "../styles/core.less";
@import "../styles/rating.less";
@import "./main-rtl.less";
// @import (reference) "../styles/core.less";
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */

html,
body {
  border: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: @color-solid;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}

a {
  text-decoration: none;
  color: @color-solid;
}

textarea {
  background: @color-white;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 4px 8px;
  font-family: 'YekanBakh', 'OpenSans';
  color: #323D47;
  &:focus {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    outline: none;
  }
}

textarea:-moz-placeholder {
  color: rgba(50, 61, 71, 0.32);
}

textarea::-moz-placeholder {
  color: rgba(50, 61, 71, 0.32);
}

textarea:-ms-input-placeholder {
  color: rgba(50, 61, 71, 0.32);
}

textarea::-webkit-input-placeholder {
  color: rgba(50, 61, 71, 0.32);
}

.nested-main {
  padding-top: 64px;
}

.navbar-wrapper {
  display: flex;
  position: fixed;
  height: 64px;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 22;
}

.navbar-container {
  height: 64px;
  position: relative;
  background: @color-bg-pending-wire;
  box-shadow: 0px 2px 4px @color-breeze;
  display: flex;
  width: 100%;
  justify-content: center;
  &.admin {
    background: @color-white;
    .navbar {
      a {
        color: #508EE6;
      }
      button {
        margin: 0 8px;
      }
      .devider {
        background-color: rgba(50, 61, 71, 0.16);
      }
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  align-items: center;
  padding: 0 32px;
  font-family: 'YekanBakh', 'OpenSans';
  img {
    height: 32px;
    object-fit: cover
  }
  .devider {
    height: 32px;
    width: 2px;
    background-color: #fff;
    margin: 0 8px;
  }
  a {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    color: white;
    font-size: 16px;
    &:last-of-type {
      margin-right: 20px;
    }
  }
  button {
    margin: 0;
    width: 93px;
    height: 32px;
  }
  .user-wrapper {
    margin-left: 24px;
    border-radius: 16px;
    width: 32px;
    height: 32px;
  }
}

.main-container {
  background-color: #F7F7F7;
  width: 100%;
}

.main-container-inner {
  display: flex;
  margin: 0 auto;
  padding: 32px 0;
  min-height: ~'calc(100vh - 360px)';
  max-width: 928px;
  &.vertical {
    flex-direction: column;
    padding-top: 0;
  }
}

.admin-wrapper {
  border-radius: 10px;
  flex: 1;
  max-width: 640px;
  width: 100%;
  width: 100%;
  background-color: @color-white;
  .tabs {
    border: 1px solid @color-light-breeze;
  }
  .isFixed .page-buttons {
    padding: 0 16px;
    max-width: 640px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: none;
    margin: 0 0 16px;
  }
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  &.hide {
    display: none;
  }
}

select {
  height: 32px;
  padding: 0 8px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px 0px 1px transparent;
  color: #323D47;
  border-radius: 4px;
  font-size: 12px;
  color: @color-solid;
  transition: all 0.2s;
}

// Components
.sidebar {
  width: 256px;
  margin-right: 32px;
  flex: none;
  padding: 16px 0;
  h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 0 32px;
  }
  ul {
    padding: 16px 26px;
    list-style: none;
    li {
      margin-bottom: 8px;
      a {
        padding: 0 6px;
        line-height: 24px;
        width: 100%;
        flex: 1;
        display: flex;
        transition: all .2s;
        cursor: pointer;
        &:hover,
        &.active {
          background: #FFFFFF;
          box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.16);
          border-radius: 6px;
        }
      }
    }
  }
}

.jumbotron {
  height: 430px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  .bg-left {
    position: absolute;
    left: -73px;
    top: 0;
    bottom: 0;
    width: 429px;
    img {
      &:first-child {
        opacity: 0;
        animation: bottomLeft .5s ease alternate forwards;
        animation-delay: 0.1s;
      }
      &:last-child {
        opacity: 0;
        transform-origin: top right;
        animation: topLeft .5s ease alternate forwards;
      }
    }
  }
  .bg-right {
    position: absolute;
    right: -138px;
    top: 0;
    bottom: 0;
    width: 429px;
    img {
      &:first-child {
        left: -89px;
        opacity: 0;
        transform-origin: top left;
        animation: topRight .5s ease alternate forwards;
        animation-delay: 0.1s;
        animation-timing-function: bounce;
      }
      &:last-child {
        opacity: 0;
        animation: bottomRight .5s ease alternate forwards;
      }
    }
  }
  .bg-right img,
  .bg-left img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    max-width: 960px;
    margin: 0 auto;
    z-index: 2;
    h2 {
      font-size: 64px;
      opacity: 0;
      animation: showUpwithTranslate .384s ease alternate forwards;
      animation-delay: 0s;
      letter-spacing: -0.06em;
      line-height: 77px;
      color: #508EE6;
      text-align: center;
      margin-top: 65px;
      font-weight: 900;
    }
    p {
      margin-top: 12px;
      opacity: 0;
      animation: showUpwithTranslate .340s ease alternate forwards;
      animation-delay: .128s;
      font-size: 24px;
      color: @color-solid;
      font-weight: 300;
      text-align: center;
    }
    .featureds {
      margin-top: 80px;
      display: flex;
      height: 64px;
      width: 100%;
      justify-content: center;
      >a {
        margin: 0 16px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        img {
          width: 64px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
          height: 64px;
          border-radius: 16px;
          background: #FFFFFF;
        }
      }
    }
  }
}

.app-card {
  width: 200px;
  height: 208px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s;
  &:hover {
    box-shadow: -1px 1px 16px rgba(0, 0, 0, 0.24);
  }
  .app-image {
    height: 136px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .app-image-bg {
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      filter: blur(16px);
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 128px;
        height: 128px;
        transform: translate(-50%, -50%) scale(2, 2);
        transform-origin: center center;
        z-index: 1;
      }
      .gradient-layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, .2));
        z-index: 2;
      }
    }
    >img {
      background: #FFFFFF;
      border-radius: 16px;
      width: 72px;
      height: 72px;
      object-fit: cover;
      z-index: 2;
    }
  }
  .app-data {
    display: flex;
    flex: 1;
    padding: 16px;
    flex-direction: column;
    h4 {
      line-height: 21px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    aside {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      span {
        &:after {
          content: ', ';
          display: inline;
        }
        &:last-of-type:after {
          display: none;
        }
      }
    }
  }
}

.app-card-mini {
  width: 240px;
  height: 64px;
  border-radius: 8px;
  display: flex;
  background: #FFFFFF;
  transition: box-shadow .2s;
  &:hover {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
  }
  .app-image {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      background: #FFFFFF;
      border-radius: 8px 0px 0px 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .app-data {
    display: flex;
    flex: 1;
    padding: 0 8px;
    flex-direction: column;
    justify-content: center;
    h4 {
      line-height: 20px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    aside {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.search-box {
  margin: 12px 0;
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 32px;
  >i {
    z-index: 2;
    position: absolute;
    left: 4px;
    top: 4px;
    opacity: 0.48;
  }
  .suggester {
    .suggester__control {
      padding: 0 32px;
    }
    .suggester__indicators {
      display: none;
    }
  }
}

.suggester {
  width: 100%;
  input,
  input:focus {
    height: 26px;
    margin: 0;
    box-shadow: none;
    transition: none;
  }
  .suggester__control {
    min-height: 0;
    height: 32px;
    padding: 0 8px;
    border-radius: 6px;
    background: #FFFFFF;
    border: none;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    &:hover,
    &:focus {
      border: none;
      box-shadow: -1px 1px 16px rgba(0, 0, 0, 0.25);
    }
  }
  .suggester__indicators {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  .suggester__value-container {
    height: 30px;
    padding: 0;
  }
  .suggester__input {
    display: flex;
  }
  .suggester__menu {
    box-shadow: -1px 1px 16px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  .suggester__option {
    height: 64px;
    border-top: 1px solid rgba(50, 61, 71, 0.16);
    font-size: 16px;
    align-items: center;
    display: flex;
    &:first-of-type {
      border: none;
    }
    &:hover {
      background: rgba(80, 142, 230, 0.16);
    }
    img {
      margin: 0 16px;
      width: 48px;
      height: 48px;
      border-radius: 8px;
    }
  }
  .suggester__option--isFocused {
    background: rgba(80, 142, 230, 0.32);
  }
  .css-rsyb7x {
    margin: 0;
    padding: 0;
  }
  &.no-option {
    .suggester__menu {
      display: none;
    }
  }
}

.multi-selector {
  width: 100%;
  input,
  input:focus {
    height: 26px;
    margin: 0;
    box-shadow: none;
    transition: none;
  }
  .multi-selector__control {
    min-height: 0;
    height: 32px;
    padding: 0 8px;
    border-radius: 6px;
    background: #FFFFFF;
    border: none;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    &:hover,
    &:focus {
      border: none;
      box-shadow: -1px 1px 16px rgba(0, 0, 0, 0.25);
    }
  }
  .multi-selector__indicators {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  .multi-selector__value-container {
    height: 30px;
    padding: 0;
  }
  .multi-selector__input {
    display: flex;
  }
  .multi-selector__menu {
    box-shadow: -1px 1px 16px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  .multi-selector__option {
    height: 64px;
    border-top: 1px solid rgba(50, 61, 71, 0.16);
    font-size: 16px;
    align-items: center;
    display: flex;
    &:first-of-type {
      border: none;
    }
    &:hover {
      background: rgba(80, 142, 230, 0.16);
    }
    img {
      margin: 0 16px;
      width: 48px;
      height: 48px;
      border-radius: 8px;
    }
  }
  .multi-selector__option--isFocused {
    background: rgba(80, 142, 230, 0.32);
  }
  .multi-selector__multi-value {
    background: #FFFFFF;
    border: 1px solid @color-wind;
    border-radius: 4px;
    margin: 0 4px;
    height: 24px;
  }
  .multi-selector__multi-value__label {
    padding: 5px 0 5px 5px;
    line-height: 14px;
    font-size: 12px;
    color: @color-solid-64;
  }
  .multi-selector__multi-value__remove {
    padding: 0 2px;
    svg {
      height: 16px;
      width: 16px;
      fill: @color-force;
    }
  }
  .css-rsyb7x {
    margin: 0;
    padding: 0;
  }
}

footer {
  height: 296px;
  width: 100%;
  background: linear-gradient(247.65deg, #228BA3 19.02%, #774FCD 127.53%);
  display: flex;
  padding: 36px;
  color: white;
  justify-content: center;
  .footer-inner {
    max-width: 928px;
    display: flex;
    flex: 1;
    >div {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 16px;
      a {
        padding: 0 6px;
        color: white;
        line-height: 19px;
        font-size: 12px;
        border-radius: 6px;
        margin-bottom: 6px;
        transition: background .2s;
        &:hover {
          background: rgba(255, 255, 255, 0.16);
        }
      }
    }
  }
  h6 {
    font-size: 13px;
    margin-bottom: 6px;
    padding: 0 6px;
    font-weight: bold;
    color: @color-white;
  }
  .logo {
    height: 48px;
  }
  .logo-type {
    width: 100%;
  }
  .languages {
    margin-top: 24px;
    display: flex;
    img {
      width: 24px;
      cursor: pointer;
      height: 16px;
      transform: translateY(3px);
    }
    .devider {
      margin: 0 8px;
      width: 1px;
      height: 24px;
      background-color: white;
    }
  }
  .nested {
    width: 110px;
    height: 48px;
    display: flex;
    .app-info-logo {
      display: flex;
      flex-direction: column;
      padding: 0 4px;
      flex: 1;
    }
    span {
      text-align: center;
      font-size: 14px;
      transform: translateY(-2px);
    }
  }
}

.rate-result {
  height: 16px;
  margin-bottom: 16px;
  display: flex;
  svg {
    fill: @color-shine;
  }
  &.silver {
    svg {
      opacity: .32;
    }
    svg,
    path {
      fill: @color-solid !important;
    }
  }
  span {
    font-size: 12px;
    padding: 0 4px;
    color: @color-solid-64;
  }
}

.page-buttons {
  display: flex;
  background-color: @color-white;
  width: 100%;
  align-items: center;
  height: 64px;
  max-width: 608px;
  width: 100%;
  margin: 0 16px 16px;
  z-index: 4;
  border-bottom: 2px solid @color-solid-48;
  h2 {
    flex: 1;
    line-height: normal;
    font-size: 24px;
  }
  button, .butn {
    margin: 0 0 0 16px;
  }
  .sort,
  .filter {
    cursor: pointer;
    opacity: .64;
    margin-left: 16px;
    &.ant-popover-open {
      opacity: 1;
      z-index: 88887;
    }
  }
  ul {
    list-style: none;
  }
  .app-status-selector {
    width: 120px;
    margin-left: 16px;
  }
  .remove-button {
    margin: 0 8px;
  }
}
.search-list {
  position: relative;
  width: 100%;
  i {
    position: absolute;
    left: 22px;
    opacity: .48;
    top: 4px;
  }
  input {
    width: ~'calc(100% - 32px)';
    direction: flex;
    padding: 0 36px;
    height: 32px;
    margin: 0 16px 16px;
  }
}
.tabs {
  display: flex;
  width: 100%;
  background-color: @color-white;
  margin-bottom: 8px;
  border-radius: 4px;
  >a {
    opacity: .64;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px 5px;
    border-bottom: 2px solid transparent;
    line-height: 21px;
    &.active {
      opacity: 1;
      color: #004DA6;
      border-bottom: 2px solid @color-bg-pending-wire;
    }
    &:hover {
      color: @color-solid;
    }
  }
}

.tabs-content {
  .pictures {
    img {
      margin-bottom: 8px;
      width: 100%;
      border-radius: 4px;
      object-fit: contain;
    }
  }
}
.reviews-list {
  padding: 0 10px 0 16px;
  li {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(50, 61, 71, 0.06);
    .rev-logo {
      display: flex;
      flex: none;
      padding-right: 16px;
      img {
        width: 32px;
        border-radius: 16px;
        height: 32px;
        background-color: @color-breeze;
      }
    }
    .rev-info {
      padding: 6px 8px;
      background: @color-white;
      border-radius: 4px;
      flex: 1;
      h4 {
        line-height: 21px;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
        display: flex;
        flex: 1;
      }
      time {
        display: flex;
        font-weight: bold;
        line-height: 17px;
        font-size: 10px;
        text-align: right;
        color: @color-solid-48;
        padding-top: 2px;
        flex: none;
      }
      strong {
        line-height: 18px;
        font-size: 12px;
        color: #508EE6;
        display: flex;
        margin-bottom: 8px;
      }
      p {
        line-height: 21px;
        font-family: 'YekanBakh', 'OpenSans';
        font-size: 12px;
      }
      p.response {
        margin-top: 8px;
        border-radius: 4px;
        background: rgba(80, 142, 230, 0.06);
        padding: 8px;
      }
      .rate-result {
        margin: 0 0 0 8px;
        display: inline-flex;
        svg {
          opacity: .32;
        }
        svg,
        path {
          fill: @color-solid !important;
        }
      }
    }
  }
  &.manage-review-list {
    li {
      padding-left: 16px;
      border: none;
      padding: 8px 0;
      .rev-logo {
        padding-right: 8px;
      }
      .rev-info {
        border: 1px solid rgba(50, 61, 71, 0.32);
        border-radius: 4px;
        h4 {
          margin: 0;
        }
      }
      input[type="checkbox"] {
        margin: 0 8px;
      }
      .reply-button ,
      .accept-button ,
      .remove-button {
        height: 24px;
        margin-left: 0;
        margin-right: 8px;
      }
      .remove-button {
        path {
          fill: #FF3243!important;
        }
      }
      .reply-button {
        path {
          fill: #508EE6!important;
        }
      }
      &.selected {
        background: rgba(80, 142, 230, 0.06);
      }
    }
  }
  .rev-reply {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    textarea {
      width: 100%;
      display: flex;
      min-height: 68px;
      margin: 8px 0;
    }
  }
}
.reports-list {
  // padding: 0 10px 0 16px;
  li {
    display: flex;
    padding: 16px;
    border-top: 1px solid rgba(50, 61, 71, 0.16);
    .rep-logo {
      display: flex;
      flex: none;
      padding-right: 16px;
      img {
        width: 32px;
        border-radius: 16px;
        height: 32px;
        background-color: @color-breeze;
      }
    }
    .rep-info {
      padding: 6px 8px;
      background: @color-white;
      border-radius: 4px;
      flex: 1;
      h4 {
        line-height: 21px;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        padding-top: 5px;
        flex: 1;
      }
      time {
        display: flex;
        font-weight: bold;
        line-height: 17px;
        font-size: 10px;
        text-align: right;
        color: @color-solid-48;
        flex: none;
      }
      strong {
        line-height: 18px;
        font-size: 12px;
        color: #508EE6;
        display: flex;
        margin-bottom: 8px;
      }
      .rep-body {
        margin-top: 8px;
        padding: 3px 8px;
        border-left: 1px solid @color-solid-64;
        h5 {
          color: @color-solid-64;
          line-height: 21px;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 4px;
        }
        p {
          color: @color-solid-64;
          line-height: 18px;
          font-family: 'YekanBakh', 'OpenSans';
          font-size: 12px;
        }
      }
      .report-response-handler {
        display: flex;
        flex: none;
        color: #4FCD90;
        font-weight: bold;
        margin: 0 16px;
        i {
          margin: 0 4px;
        }
        &.done {
          background: #2FB492;
          color: @color-white;
          border-radius: 3px;
          padding: 2px;
          i {
            margin: 2px;
            path {
              fill: @color-white!important;
            }
          }
        }
      }
    }
  }
  &.manage-review-list {
    li {
      padding-left: 16px;
      border: none;
      padding: 8px 0;
      .rev-logo {
        padding-right: 8px;
      }
      .rev-info {
        border: 1px solid rgba(50, 61, 71, 0.32);
        border-radius: 4px;
        h4 {
          margin: 0;
        }
      }
      input[type="checkbox"] {
        margin: 0 8px;
      }
      .reply-button ,
      .accept-button ,
      .remove-button {
        height: 24px;
        margin-left: 0;
        margin-right: 8px;
      }
      .remove-button {
        path {
          fill: #FF3243!important;
        }
      }
      .reply-button {
        path {
          fill: #508EE6!important;
        }
      }
      &.selected {
        background: rgba(80, 142, 230, 0.06);
      }
    }
  }
  .rev-reply {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    textarea {
      width: 100%;
      display: flex;
      min-height: 68px;
      margin: 8px 0;
    }
  }
}
ul.errors {
  list-style: none;
  li,
  span {
    margin: 4px 8px;
    color: @color-force;
  }
}

.app-status-selector {
  .multi-selector__option{
    height: 32px;
    padding: 0 8px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    &:hover {
      background: transparent;
    }
  }
  .multi-selector__option--isFocused {
    background: transparent;
  }
  .multi-selector__option:nth-child(1){
    color: #2FB492;
  }
  .multi-selector__option:nth-child(2){
    color: #2D8FF5;
  }
  .multi-selector__option:nth-child(3){
    color: #FDAB1C;
  }
  .multi-selector__option:nth-child(4){
    color: #EE3759;
  }
  &.status-1,
  &.status-2,
  &.status-3,
  &.status-4 {
    .multi-selector {
      .multi-selector__single-value {
        color: @color-white;
        line-height: 30px;
      }
      .multi-selector__indicator-separator {
        display: none;
      }
      .multi-selector__dropdown-indicator {
        path {
          fill: @color-white;
        }
      }
    }
  }
  &.status-1 {
    .multi-selector {
      .multi-selector__control {
        background: #2FB492;
        border: 1px solid #23886E;
      }
    }
  }
  &.status-2 {
    .multi-selector {
      .multi-selector__control {
        background: #2D8FF5;
        border: 1px solid #1C6ABA;
      }
    }
  }
  &.status-3 {
    .multi-selector {
      .multi-selector__control {
        background: #FDAB1C;
        border: 1px solid #D08C15;
      }
    }
  }
  &.status-4 {
    .multi-selector {
      .multi-selector__control {
        background: #EE3759;
        border: 1px solid #B62B45;
      }
    }
  }
}
// Pages styles
.add-app {
  padding: 0 16px;
  .ant-upload {
    width: 112px;
    height: 112px;
    margin-right: 16px;
    img {
      max-height: 156px;
      max-width: 100%;
    }
  }
  .multi-selector__input {
    input {
      height: 30px;
    }
  }
  input {
    height: 32px;
    font-size: 12px;
    &.has-error,
    &:invalid,
    &:required {
      border-color: @color-force;
    }
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    opacity: 1;
    /* Firefox */
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
  }
  .form-row {
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .multi-input-row {
    display: flex;
    flex-direction: column;
    flex: 1;
    textarea {
      height: 96px;
    }
  }
  input.form-row {
    width: ~'calc(50% - 4px)';
    &.form-block {
      width: ~'calc(100% - 4px)';
    }
  }
  .images-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 8px;
    width: 100%;
    .image-handler {
      display: flex;
      width: ~'calc(50% - 20px)';
      margin: 0 20px 16px;
      position: relative;
      max-height: 156px;
      img {
        width: 100%;
        object-fit: contain;
        border-radius: 4px 0px 4px 4px;
      }
      .image-buttons {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid @color-wind-new;
        border-radius: 0px 4px 4px 0px;
        display: flex;
        width: 24px;
        transform: translateX(100%);
        align-items: center;
        flex-direction: column;
        transition: opacity .2s;
        opacity: 0;
        >* {
          width: 16px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid @color-wind-new;
          i {
            display: flex;
          }
          &:last-child {
            border: none;
          }
        }
      }
      &:hover {
        .image-buttons {
          opacity: 1;
        }
      }
      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    .upload-box {
      width: ~'calc(50% - 20px)';
      margin-left: 20px;
      .ant-upload-select {
        width: 100%;
        height: 158px;
        margin: 0;
        >span {
          padding: 0;
          display: flex;
        }
      }
      &:first-child {
        margin: 0;
      }
    }
    .ant-upload-text {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 100%;
      line-height: 48px;
      font-size: 32px;
      border-radius: 4px;
      font-weight: bold;
    }
  }
  .app-translations {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    input,
    textarea {
      margin-bottom: 16px;
    }
  }
}
textarea.with-border {
  border: 1px solid @color-wind-new;
}
.add-app-scene {
  .multi-selector {
    .multi-selector__control {
      border: 1px solid @color-wind-new;
      box-shadow: none;
    }
  }
}
// Main page app list style
.app-list {
  margin-top: 32px;
  .app-card {
    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .list-head {
    height: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid @color-breeze;
    display: flex;
    margin-bottom: 16px;
    align-items: baseline;
    h3 {
      line-height: normal;
      font-size: 18px;
    }
    a {
      font-size: 12px;
      color: #0079F2;
    }
  }
  .list-body {
    display: flex;
    &.no-scrollbar {
      flex-wrap: wrap;
      margin: 0 -8px;
      .app-card {
        margin: 0 8px 16px;
      }
    }
  }
}
.app-list-browse {
  list-style: none;
  li {
    height: 80px;
    display: flex;
    cursor: pointer;
    border-top: 1px solid @color-breeze-new;
    align-items: center;
    .app-image {
      margin: 0 16px;
      img {
        height: 48px;
        width: 48px;
        border-radius: 6px;
      }
    }
    .app-data {
      display: flex;
      flex: 1;
      overflow: hidden;
      flex-direction: column;
      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      aside {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        color: @color-solid-64;
      }
    }
    > i {
      margin: 0 16px;
      transform-origin: center center;
      transform: rotateZ(-90deg);
      opacity: .72;
    }
  }
}
.app-content {
  display: flex;
  width: 100%;
  margin-top: 36px;
  .product-hero {
    width: 216px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    img {
      width: 216px;
      object-fit: cover;
      height: 216px;
      background: #FFFFFF;
      border-radius: 16px;
      margin-bottom: 16px;
    }
    .report-butn {
      line-height: normal;
      font-size: 12px;
      text-align: center;
      width: 100%;
      color: @color-force-wire;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .product-her-block {
      padding: 16px 8px;
      background: #FFFFFF;
      border-radius: 16px;
      margin-bottom: 16px;
      h4 {
        font-size: 11px;
        padding-bottom: 6px;
        width: 100%;
        margin-bottom: 8px;
        line-height: 14px;
        border-bottom: 1px solid @color-breeze;
      }
      a {
        background: #FFFFFF;
        border: 1px solid @color-wind-new;
        color: @color-solid-64;
        border-radius: 6px;
        line-height: 14px;
        font-size: 11px;
        padding: 5px 6px;
        display: inline-block;
        margin: 0 6px 6px 0;
      }
    }
    .languages {
      a {
        padding: 5px 6px 5px 30px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        &.en {
          background-image: url('/public/assets/images/en-chips-logo.png');
        }
        &.fa {
          background-image: url('/public/assets/images/fa-chips-logo.png');
        }
      }
    }
  }
  .product-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    h1 {
      font-size: 24px;
      margin-bottom: 4px;
      line-height: 29px;
    }
  }
}

.signin-modal {
  .app-store-logo {
    height: 195px;
    background: linear-gradient(217.57deg, #228BA3 5.54%, #774FCD 99.14%);
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 16px;
    }
    .nested-logo-name {
      display: flex;
      opacity: 0;
      animation: showUp .746s ease alternate forwards;
      animation-delay: .512s;
      flex-direction: column;
      span {
        color: @color-white;
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }
    svg {
      overflow: visible;
    }
  }
  .login-des {
    padding: 16px;
    border-top: 1px solid @color-wind-new;
    h2 {
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 8px;
      letter-spacing: -0.03em;
    }
    p {
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 16px;
      color: @color-solid-64;
    }
    .butn.secondary {
      margin: 0 0 24px;
      img {
        transform: translateY(-2px);
      }
    }
  }
  .seperator {
    letter-spacing: -0.03em;
    color: #323D47;
    font-size: 14px;
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    a {
      display: inline-flex;
      width: 36px;
      flex: 1;
      &:before,
      &:after {
        display: inline-flex;
        flex: 1;
        content: '';
        margin-top: 12px;
        height: 1px;
        background: rgba(50, 61, 71, 0.32);
      }
      span {
        width: 36px;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        letter-spacing: -0.03em;
        color: @color-solid;
      }
    }
  }
  form {
    input {
      width: 100%;
      background: @color-white;
      border-radius: 4px;
      border: none;
      transition: all .2s;
      &:hover {
        border: none;
        box-shadow: 0px 0px 4px @color-breeze;
      }
      &:focus {
        border: none;
        box-shadow: 0px 0px 4px @color-wind;
      }
    }
    button {
      margin: 8px 0 0;
      height: 40px;
      border-radius: 5px;
    }
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-content {
    background: #F7F7F7;
  }
}

.authorize-modal, .report-modal {
  .ant-modal-close {
    position: fixed;
    top: 10px;
    left: 0;
    color: #fff;
    .ant-modal-close-x {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  p {
    color: @color-solid-64;
    font-size: 12px;
    margin: 0 0 16px;
  }
  .permissions-list {
    margin-bottom: 32px;
    li {
      padding: 0;
      border-left: 1px solid @color-wind-new;
      border-bottom: none;
      .per-info {
        border: none;
      }
    }
  }
  .modal-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    button:first-of-type {
      margin-bottom: 8px;
    }
  }
  .butn-primary {
    margin-bottom: 16px;
  }
  button {
    margin: 0;
  }
  .ant-modal-body {
    padding: 16px 16px 16px;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-content {
    background: #F7F7F7;
  }
  .ant-modal-close-x {
    transform: translateY(-10px);
  }
  ul.reasons-for-report {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-left: 1px solid @color-wind;
    margin-bottom: 16px;
    li {
      margin-bottom: 8px;
      input {
        width: 14px;
        height: 14px;
        margin: 0 8px;
        transform: translateY(2px);
      }
      label {
        color: @color-solid-64;
      }
    }
  }
}
.report-modal {
  textarea {
    display: flex;
    width: 100%;
    min-height: 38px;
    margin-bottom: 24px;
  }
}
.category-scene {
  ul {
    list-style: none;
    position: relative;
    z-index: 0;
    outline: none;
    width: 100%;
    .dragger {
      opacity: .32;
    }
  }
}

.permissions-scene,
.category-scene,
.admin-app-list-scene,
.admin-users-list {
  .add {
    height: 48px;
    display: flex;
    align-items: center;
    i {
      flex: none;
      margin: 0 16px;
      height: 24px;
      svg {
        fill: #508EE6;
      }
    }
    span {
      font-size: 14px;
      color: #508EE6;
    }
  }
}
.admin-app-list-scene {
  .list-head {
    display: flex;
    flex: 1;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 16px 16px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid @color-breeze-new;
  }
}
.permissions-scene {
  .permissions-list {
    padding: 0 16px;
    li {
      padding: 0 8px;
      margin-top: 16px;
      padding-top: 16px;
      border-bottom: none;
      border-top: 1px solid rgba(50, 61, 71, 0.06);
      font-family: 'YekanBakh', 'OpenSans';
      &:first-of-type {
        margin: 0;
      }
      .per-icon {
        padding: 0 8px;
        img {
          max-width: 16px;
          max-height: 16px;
        }
      }
    }
  }
}

.category-sort-item {
  border-top: 1px solid @color-breeze;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, .64);
  padding: 0 16px;
  .dragger {
    opacity: 1;
    margin-right: 16px;
  }
  span {
    padding: 0 8px;
    font-size: 14px;
    display: flex;
    flex: 1;
  }
}

.add-category-modal {
  input {
    display: flex;
    width: 100%;
    margin: 0 0 16px;
  }
}

.admin-list,
.category-sort-item {
  .edit-button,
  .feature-button {
    margin: 0 8px;
  }
  .remove-button {
    margin-left: 8px;
  }
  .edit-button {
    opacity: .72;
    &:hover {
      opacity: 1;
    }
  }
  .feature-button {
    path {
      fill: @color-solid-64;
    }
    &.active {
      path, polygon {
        fill: @color-shine;
      }
    }
  }
}

.feature-button {
  &.active {
    svg {
      path, polygon {
        fill: @color-shine;
      }
    }
  }
}
.app-vertical-list {
  list-style: none;
  position: relative;
  z-index: 0;
  outline: none;
  width: 100%;
  li {
    display: flex;
    padding: 13px 4px;
    border-bottom: 1px solid @color-breeze-new;
    .app-icon {
      display: flex;
      flex: none;
      padding: 0 8px;
      img {
        border-radius: 6px;
        width: 64px;
        height: 64px;
      }
    }
    .app-remove {
      display: flex;
      flex: none;
    }
    .app-info {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      h4 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 4px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .app-badge {
    margin: 0 8px;
  }
  .remove-button {
    margin-right: 12px;
    height: 24px;
    display: flex;
    align-self: center;
  }
}

.permissions-list {
  li {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(50, 61, 71, 0.06);
    .per-icon {
      display: flex;
      flex: none;
      padding: 3px 16px 0 0;
    }
    .per-remove {
      display: flex;
      flex: none;
    }
    .per-info {
      padding-left: 6px;
      display: flex;
      flex: 1;
      flex-direction: column;
      border-left: 1px solid @color-wind-new;
      h4 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 4px;
        padding: 0 4px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

.add-permission-modal {
  input,
  textarea {
    width: 100%;
  }
  textarea {
    border: 1px solid @color-wind-new;
    resize: none;
    min-height: 128px;
  }
  .avatar-uploader {
    img {
      max-height: 80px;
      max-width: 80px;
    }
  }
  .ant-upload.ant-upload-select-picture-card {
    width: 72px;
    height: 72px;
    margin-top: 44px;
  }
  form {
    display: flex;
    flex: 1;
    input {
      display: flex;
      width: 100%;
      margin: 0 0 16px;
    }
    button {
      opacity: 0;
      height: 0px;
      visibility: hidden;
      width: 0px;
    }
  }
}

.users-list {
  li {
    padding: 0 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    border-bottom: none;
    border-top: 1px solid rgba(50, 61, 71, 0.06);
    &:first-of-type {
      margin: 0;
    }
    .user-logo {
      width: 48px;
      height: 48px;
      img {
        width: 48px;
        height: 48px;
        border-radius: 128px;
      }
    }
    .user-info {
      display: flex;
      padding: 0 16px;
      flex: 1;
      flex-direction: column;
      b {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 8px;
      }
      span {
        font-size: 14px;
        color: @color-solid-64;
      }
    }
  }
}

.add-user-modal {
  legend {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .user-logo {
    padding: 28px 0 0 24px;
    .ant-upload {
      margin: 0;
      width: 56px;
      height: 56px;
    }
  }
  input,
  select {
    height: 32px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 12px;
  }
  select {
    margin-bottom: 16px;
  }
  ::placeholder {
    font-size: 12px;
    opacity: 1;
  }
  :-ms-input-placeholder {
    font-size: 12px;
  }
  ::-ms-input-placeholder {
    font-size: 12px;
  }
}

// Antd modal
.ant-modal-content {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
  border-radius: 10px;
}

.ant-modal-header {
  border-radius: 10px 10px 0 0;
  padding: 16px 24px;
}

.ant-modal-mask {
  background: rgba(50, 61, 71, 0.95);
}

.ant-modal-header,
.ant-modal-footer {
  border: none
}

.ant-modal-body {
  padding: 0 24px 8px;
}

.ant-modal-footer {
  padding: 0 24px 24px;
  button {
    margin-bottom: 0;
  }
}

// atomics
.lng-fa {
  opacity: .64;
}

.logo-type.fa {
  display: none;
}

.hidden-submit {
  position: absolute;
  opacity: 0;
  height: 0px;
  visibility: hidden;
  width: 0px;
}

.nst-vertical-logo {
  display: flex;
  flex-direction: column;
  height: 128px;
  width: 128px;
  align-items: center;
  width: 100%;
  position: relative;
  .logo {
    width: 75px;
    height: 75px;
  }
  .logo-type {
    position: absolute;
    height: 54.76px;
    width: 128px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.has-error {
  .multi-selector__control {
    border: 1px solid @color-force
  }
}
.app-badge {
  border-radius: 3px;
  padding: 1px 2px;
  line-height: 14px;
  font-size: 10px;
  font-weight: bold;
  color: @color-white;
  &.published {
    background: #2FB492;
  }
  &.pending {
    background: #2D8FF5;
    ;
  }
  &.suspended {
    background: #FDAB1C;
  }
  &.declined {
    background: #EE3759;
  }
  &.unpublished {
    background: @color-wind-new;
  }
}
.user-avatar {
  border-radius: 50%;
  overflow: hidden;
}

.profile-popover {
  width: 220px;
  padding: 0;
  > div:first-child {
    padding: 12px 12px 0;}
  b {
    font-size: 14px;
    display: block;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .user-avatar {
    flex: none;
    img {
      border-radius: 100%;
      height: 32px;
      width: 32px;
    }
    & + div {
      padding: 0 8px;
      overflow: hidden;
      span {
        font-size: 12px;
        color: @color-solid-48;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  a {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;;
    border-bottom: 1px solid @color-breeze;
    span {
      color: @color-solid!important
    }
    &:last-of-type {
      border: none;
    }
  }
  a.signout {
    i {
      display: flex;
      transform: rotateZ(180deg);
    }
    span {
      padding: 0 24px;
      margin-bottom: 4px;
      color: @color-force-wire!important;
    }
    svg {
      path {
        stroke: @color-force-wire!important;
      }
    }
  }
}
.openSans {
  font-family: 'YekanBakh', 'OpenSans';
}
.app-snippet {
  border: 1px solid rgba(50, 61, 71, 0.32);
  border-radius: 8px;
  display: flex;
  background: @color-white;
  overflow: hidden;
  height: 64px;
  margin-bottom: 16px;
  img {
    width: 48px;
    height: 48px;
    margin: 8px;
  }
  div {
    justify-content: center;
    flex-direction: column;
    padding: 0 8px;
    > span {
      font-size: 14px;
      color: @color-solid-64;
    }
  }
  b {
    font-size: 16px;
  }
}
.scrollarea-content.content {
  display: flex;
}
.top-apps {
  display: inline-flex;
  height: 68px;
  margin: 16px 0;
  list-style: none;
  padding: 2px 0;
  width: 100%;
  justify-content: center;
  li.top-app-item {
    position: relative;
    &:hover {
      .slider-item-handler {
        display: flex;
      }
    }
  }
}

li.top-app-item {
  display: flex;
  box-sizing: border-box;
  margin: 0 16px;
  width: 64px;
  justify-content: center;
  align-items: center;
  flex: none;
  border-radius: 16px;
  border: 1px solid @color-wind-new;
  img {
    width: 64px;
    background: @color-white;
    height: 64px;
    border-radius: 16px;
  }
  .slider-item-handler {
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
    path {
      fill: @color-force!important;
    }
  }
}

.error-message {
  background: rgba(238, 55, 89, 0.16);
  padding: 8px 0;
  border-radius: 4px;
  line-height: 24px;
  display: flex;
  color: #EE3759;
  .nstIcon {
    display: flex;
    margin: 0 8px;
  }
  span:first-child {
    padding: 0 8px;
  }
}
.no-result-message {
  text-align: center;
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
}
@import "../containers/404/style";
@import "../styles/antd.min.css";
