:root {
  --color-force: #ff3344;
}
@font-face{
  font-family: 'OpenSans';
  font-weight: 300;
  src: url(../../assets/fonts/OpenSans/OpenSans-Light.eot?) format("eot"),
  url(../../assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype"),
  url(../../assets/fonts/OpenSans/OpenSans-Light.woff) format("woff"),
  url(../../assets/fonts/OpenSans/OpenSans-Light.woff2) format("woff2")
}
@font-face{
  font-family: 'OpenSans';
  font-weight: 400;
  src: url(../../assets/fonts/OpenSans/OpenSans-Regular.eot?) format("eot"),
  url(../../assets/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"),
  url(../../assets/fonts/OpenSans/OpenSans-Regular.woff) format("woff"),
  url(../../assets/fonts/OpenSans/OpenSans-Regular.woff2) format("woff2")
}
@font-face{
  font-family: 'OpenSans';
  font-weight: 700;
  src: url(../../assets/fonts/OpenSans/OpenSans-Bold.eot?) format("eot"),
  url(../../assets/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype"),
  url(../../assets/fonts/OpenSans/OpenSans-Bold.woff) format("woff"),
  url(../../assets/fonts/OpenSans/OpenSans-Bold.woff2) format("woff2")
}
@font-face{
  font-family: 'YekanBakh';
  font-weight: 300;
  src: url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Light.eot?) format("eot"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Light.ttf) format("truetype"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Light.woff) format("woff"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Light.woff2) format("woff2")
}
@font-face{
  font-family: 'YekanBakh';
  font-weight: 400;
  src: url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Regular.eot?) format("eot"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Regular.ttf) format("truetype"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Regular.woff) format("woff"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Regular.woff2) format("woff2")
}
@font-face{
  font-family: 'YekanBakh';
  font-weight: 700;
  src: url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Bold.eot?) format("eot"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Bold.ttf) format("truetype"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Bold.woff) format("woff"),
  url(../../assets/fonts/YekanBakh/YekanBakhNestedWeb-Bold.woff2) format("woff2")
}
body {
  font-family: 'YekanBakh', 'OpenSans'!important;
  height: 100%;
  overflow: hidden;
  position: auto;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overscroll-behavior-y: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior-y: none;
}
h1, h2, h3, h4, h5, h6, body {
  color: rgba(50, 61, 71, 1);
}
svg {
  fill: rgba(50, 61, 71, 1);
}